@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;

}
.nav{
    background-color:#007bff ; /*#6610f2*/
    color: yellow;
    padding: 2rem;
    text-align: center;
}
#goalkeeper{
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #6610f2;
    color: white;
}
.defender, .midfielder, .attacker{
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #6610f2;
    color: white;
}
.field, ul{
    display: flex;
}
li{
    list-style: none;
}
.container, .container *{
    display: flex;
    flex-direction: column;

}
select{
    width: 200px;
    margin: .15rem;
}
.game{
    background-color: rgb(194, 246, 194);
    width: 100%;
    /* height: calc(100vw - 200px);
    width: calc(100vh -200px); */
}
.none{
    display: none;
}